@import url("https://fonts.googleapis.com/css?family=Lato:400,700");
html {
  display: grid;
  min-height: 100%;
}

body {
  display: grid;
  font-family: "Lato", sans-serif;
  background: url("https://images.unsplash.com/photo-1538097304804-2a1b932466a9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1250&q=80");
}

.container {
  position: relative;
  background: rgba(247, 247, 247, 0.8);
  margin: auto;
  overflow: hidden;
  border-radius: 15px;
  width: 350px;
  height: 520px;
}

p {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 10px;
  color: #3C3C3C;
}

a {
  transition: all 0.4s ease;
  cursor: pointer;
  padding: 4px;
}

.sw-logo {
  display: none;
  position: absolute;
  right: 0;
  margin: 15px;
  width: 30px;
  height: 30px;
}
.sw-logo img {
  height: 100%;
  width: 100%;
}

.date {
  position: absolute;
  width: 100%;
  height: 10%;
  margin: 8%;
}
.date p {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 10px;
  margin-top: 12px;
  color: #3C3C3C;
}
.date p span {
  color: #F44336;
  font-size: 15px;
}

.line {
  position: absolute;
  width: 83%;
  height: 3px;
  background: #F44336;
  left: 8%;
  top: 13%;
}

.blue {
  position: absolute;
  width: 33%;
  background: #1E88E5;
  height: 100%;
}

.yellow {
  width: 33%;
  background: #FDD835;
  height: 100%;
  position: absolute;
  right: 0;
}

.flight-number {
  position: absolute;
  margin: 8%;
  margin-left: 13%;
  top: 12%;
}

.flight {
  background: #1E88E5;
  color: #F7F7F7;
  padding: 3px;
}

.airports {
  position: absolute;
  width: 100%;
  height: 30%;
  top: 14%;
  left: -1%;
  text-align: center;
}
.airports i {
  position: absolute;
  top: 45%;
  left: 45%;
  color: #FDD835;
}
.airports .depart {
  margin: 0;
  margin-left: 5px;
  color: #F44336;
}

ul {
  margin: 0;
  list-style-type: none;
  text-align: left;
  padding: 13%;
}

li {
  display: inline-block;
  padding-right: 50px;
}
li h1 {
  margin: 0;
  color: #3C3C3C;
  font-size: 3em;
  font-weight: 300;
}

.nopadding {
  padding-right: 0;
}

.time {
  margin-top: 35px;
  font-size: 24px;
  color: #3C3C3C;
}
.time span {
  font-size: 15px;
  color: #3C3C3C;
}

.status {
  position: absolute;
  left: 14%;
  bottom: 4%;
}
.status p {
  color: #3C3C3C;
  background: #FDD835;
}

.gates {
  position: absolute;
  width: 100%;
  top: 44%;
  left: 4%;
}
.gates ul {
  margin: 0;
  padding: 0;
  padding-left: 9%;
}
.gates li {
  padding-right: 73px;
  padding-top: 5px;
}
.gates .nopadding {
  padding-right: 0;
}
.gates h2 {
  color: #F7F7F7;
  background: #F44336;
  padding: 5px;
}
.gates h2 span {
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: 2px;
}

.map {
  position: absolute;
  top: 62%;
  left: 13%;
  height: 24%;
  width: 84%;
}
.map img {
  margin-top: -15px;
  width: 90%;
}
.map h3 {
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 1em;
  color: #3C3C3C;
}
.map h3 span {
  color: #3C3C3C;
  background: #FDD835;
}

.southwest {
  position: absolute;
  background: #1E88E5;
  width: 100%;
  height: 5%;
  padding: 6px 0;
  bottom: 0;
  text-align: center;
}
.southwest p {
  color: #F7F7F7;
  margin: 8px;
}
.southwest a {
  text-transform: uppercase;
  letter-spacing: 3px;
  text-decoration: none;
  color: #FDD835;
  font-size: 10px;
}
.southwest a:hover {
  background: #F7F7F7;
  color: #F44336;
}

footer {
  position: absolute;
  bottom: 0;
  right: 0;
  text-transform: uppercase;
  padding: 10px;
  font-family: "Lato", sans-serif;
}
footer p {
  letter-spacing: 3px;
  font-size: 10px;
  color: #fff;
}
footer a {
  color: #aaa;
  text-decoration: none;
}
footer a:hover {
  color: #7d7d7d;
}/*# sourceMappingURL=style.css.map */